@model Spin.Models.Video
@{
    ViewBag.Title = "Video";
}

<div class="row">
    <div class="col text-center">
        <h2>Add Video</h2>
    </div>
</div>
@using (Html.BeginForm("Add", "Videos", new { @class = "form" }))
{
    @Html.HiddenFor(a => a.ArtistId)

    <div class="form-group">
        <div class="row">
            <div class="col-md-5 col-lg-offset-1">
                @Html.LabelFor(a => a.Name, new { @id = "videoTitleLabel" })
                @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @id = "videoTitleText" })
            </div>
            <div class="col-md-5 col-lg-offset-1">
                @Html.LabelFor(a => a.Url, new { @id = "videoUrlLabel" })
                @Html.TextBoxFor(a => a.Url, new { @class = "form-control", @id = "videoUrlText" })
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary" id="addVideoButton">Add Video</button>
            </div>
        </div>
    </div>
}
