@model Spin.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center">
    <h1>Spin</h1>
    <p class="lead">The best place for your favorite artists</p>
    <a href="@Url.RouteUrl("CreateArtist")" class="btn btn-success">Add An Artist Now!</a>
</div>

<div class="row" id="MainIndexRow">
    <div class="col-md-4 text-center">
        <h2>Recent artists</h2>
        @foreach (var artist in Model.RecentArtists)
        {
            <p><a href="@Url.RouteUrl("ArtistDetails", new { id = artist.Id })">@artist.Name</a></p>
        }
        <p><a class="btn btn-default" href="@Url.RouteUrl("AllArtists")">Explore All Artists</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Genres</h2>
        @foreach (var genre in Model.Genres)
        {
            <span><a class="btn btn-default" href="@Url.RouteUrl("AllAlbumsByGenre", new { genreId = genre.Id })">@genre.Name</a></span>
        }
    </div>
    <div class="col-md-4 text-center">
        <h2>Recent Albums</h2>
        @foreach (var album in Model.RecentAlbums)
        {
            <p><a href="@Url.RouteUrl("AlbumDetails", new { id = album.Id })">@album.Name</a></p>
        }
        <p><a class="btn btn-default" href="@Url.RouteUrl("AllAlbums")">Explore All Albums</a></p>
    </div>
</div>
