@model Spin.Models.Album
@{
    ViewBag.Title = "Add";
}

<div class="row">
    <div class="col">
        <h2>Add</h2>
    </div>
</div>

@using (Html.BeginForm("Add", "Albums", new { @class = "form" }))
{
    @Html.HiddenFor(a => a.ArtistId)
    <br />
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                @Html.LabelFor(n => n.Name, new { @id = "albumLabel" })
                @Html.TextBoxFor(n => n.Name, new { @class = "form-control", @id = "albumText" })
            </div>
            <br />
            <div class="col-md-5 col-md-offset-1">
                @Html.LabelFor(n => n.AlbumImageURL, new { @id = "albumImageLabel" })
                @Html.TextBoxFor(n => n.AlbumImageURL, new { @class = "form-control", @id = "albumImageText" })
            </div>
        </div>
        @*<div class="row">
            <div class="col-md">
                <form action="@Url.RouteUrl("", new { id = Model.Id })" method="post" enctype="multipart/form-data"></form>
                @Html.TextBoxFor(a => a.Songs, new { @class = "form-control", type = "file", accept = "*" })
            </div>
        </div>*@
        <br />
        <br />
    </div>
    <br />
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <button class="btn btn-primary">Add Album</button>
        </div>
    </div>
    <br />
}
