@using Newtonsoft.Json
@model Spin.Models.Album
@{
    ViewBag.Title = "Details";
}
<div class="page-header text-center">
    <div class="col">
        <h1>@Model.Name</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <img src="@Model.AlbumImageURL" class="img-responsive img-rounded detailImage" />
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div id="trackList" class="panel-body">
        </div>
        <div class="panel-footer">
            <input id="songName" class="form-control" type="text" placeholder="Song name"/>
            <input id="songLength" class="form-control" type="text" placeholder="Song length"/>
            <button id="addTrack" class="btn btn-success">Add Song</button>
        </div>
    </div>
</div>

@section scripts {
    <script>

        var songs = '@Html.Raw(JsonConvert.SerializeObject(Model.Songs.Select(h => new { Id = h.Id, Name = h.Name, SongLength = h.SongLength }).ToArray(), new JsonSerializerSettings { StringEscapeHandling = StringEscapeHandling.EscapeHtml }))';
        var ul = $("<ul class=\"list-group\">");

        $.each(JSON.parse(songs), function (i, songs) {
            ul.append("<li class=\"list-group-item\">" + songs.Name + ' : ' + songs.SongLength + "<a class=\"btn btn-sm pull-right delete-hobby\" data-songs-id=\"" + songs.Id + "\">Delete</a></li>");
        });

        $("#trackList").append(ul);

        $('.delete-hobby').click(function () {
            var songsId = $(this).data("songs-id");

            // Call Ajax method with songId
            $.ajax({
                // Delete song from controller (server)
                url: '@Url.RouteUrl("DeleteSongAjax")',
                method: 'post',
                data: {
                    Id: songsId,
                    Name: $('#songName').val(),
                    SongLength: $('#songLength').val()
                },
                success: function (data) {
                    // Toastr a success or error message
                    toastr.success("Song Deleted")
                    // Remove the element from HTML markup
                    ul.remove("<li class=\"list-group-item\">" + data.Name + ' : ' + data.SongLength + "</li>");
                },
                error: function (data) {
                    toastr.error("There was a problem")
                }
            })
        });

        $('#addTrack').click(function () {
            $.ajax({
                url: '@Url.RouteUrl("AddSongAjax")',
                method: 'post',
                data: {
                    AlbumId: @Model.Id,
                    Name: $('#songName').val(),
                    SongLength: $('#songLength').val()
                },
                success: function (data) {
                    toastr.success("Song info added")
                    ul.append("<li class=\"list-group-item\">" + data.Name + ' : ' + data.SongLength + "</li>");
                    $('#songName').val('')
                    $('#songLength').val('')
                },
                error: function (data) {
                    toastr.error("There was a problem")
                }
            })
        })
    </script>
    }