@model Spin.Models.Artist
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col p-4 text-center">
        <h2 class="page-header">Add a favorite artist</h2>
    </div>
</div>

@using (Html.BeginForm("Create", "Artists", new { @class = "form" }))
{
    <br />
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                @Html.LabelFor(n => n.Name, new { @id = "artistLabel" })
                @Html.TextBoxFor(n => n.Name, new { @class = "form-control", @id = "artistText" })
                @Html.ValidationMessageFor(n => n.Name)
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    @Html.LabelFor(n => n.ArtistImageURL, new { @id = "artistImageLabel" })
                    @Html.TextBoxFor(n => n.ArtistImageURL, new { @class = "form-control", @id = "artistImageText" })
                </div>
            </div>
            <br />
        </div>
        <br />
    </div>
    <br />
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <button class="btn btn-primary">Create</button>
        </div>
    </div>
    <br />
}
<br />
