@model Spin.ViewModels.Artists.ArtistsDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col text-center">
        <h1><em>@Model.Artist.Name</em></h1>
        <a href="@Url.RouteUrl("ArtistEdit")" class="btn btn-success">Edit Artist</a>
    </div>
</div>
<br />
<br />
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Action</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model.Artist.Albums)
            {
                <tr>
                    <td><img src="@album.AlbumImageURL" class="img-responsive img-rounded" /></td>
                    <td><a href="@Url.RouteUrl("AlbumDetails", new { id = album.Id })">@album.Name</a></td>
                    <td>
                        <a href="@Url.RouteUrl("AlbumEdit", new { id = album.Id })" class="btn btn-primary">Edit Album</a>
                        <a href="@Url.RouteUrl("AddGenre", new { AlbumId = album.Id })" class="btn btn-primary">Add Genre</a>
                    </td>
                    @foreach (var genre in album.AlbumGenres)
                    {
                        <td>
                            <a href="@Url.RouteUrl("AllAlbumsByGenre", new { genreId = genre.GenreId })"><span class="badge">@genre.Genre.Name</span></a>
                        </td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <a href="@Url.RouteUrl("AddAlbum", new { id = Model.Artist.Id })" class="btn btn-primary">Add Album</a>
        </tfoot>
    </table>
</div>
