@model Spin.Models.Artist
@{
    ViewBag.Title = "Details";
}

@Html.HiddenFor(a => a.Id)
<div class="row">
    <div class="text-center">
        <h2>Details</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Name</p>
    </div>
</div>
<br />
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var album in Model.Albums)
                {
                    <td>@album.Name</td>
                    <td><a href="@Url.RouteUrl("AlbumDetails", new { id = album.Id})" class="btn btn-success">Album Details</a></td>
                }
            </tr>
        </tbody>
    </table>
</div>
@*<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <input id="song-name" class="form-control" type="text" placeholder="Add a song" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-7 col-md-offset-5">
        <button id="add-song" class="btn btn-success">Add it!!</button>
    </div>
</div>

@section scripts{
    <script>
        $("#add-song").click(function () {
            $.ajax({
                method: 'post',
                url: @Url.RouteUrl(""),
                data: {
                    ArtistId: @Model.Id,
                    Name: $("#song-name").val()
                },
                success: function (data) {
                    $("#songs ul").append("<li class=\"list-group-item\">" + data.Name + "</li>");
                    $('#song-name').val('');
                },
                error: function (data) {
                    console.warn("The post failed")
                }
            })
        })
    </script>
    }*@