@model Spin.Models.Artist
@{
    ViewBag.Title = "Details";
}

@Html.HiddenFor(a => a.Id)
<div class="row">
    <div class="col text-center">
        <h1><em>@Model.Name</em></h1>
    </div>
</div>
<br />
<br />
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var album in Model.Albums)
                {
                    <td><img src="@album.AlbumImageURL" class="img-responsive img-rounded" /></td>
                    <td><a href="@Url.RouteUrl("AlbumDetails", new { id = album.Id })">@album.Name</a></td>
                    <td>
                        <a href="@Url.RouteUrl("ArtistEdit")" class="btn btn-success">Edit Artist</a>
                    </td>
                }
            </tr>
        </tbody>
        <tfoot>
            <a href="@Url.RouteUrl("AddAlbum")" class="btn btn-success">Add Album</a>
        </tfoot>
    </table>
</div>
